
// core gutenberg items
@mixin core {
  @include wp-block-cover;
  @include wp-block-image;
  @include wp-block-media-text;
  @include wp-block-columns;
  @include wp-block-column;
  @include wp-block-buttons;
  @include wp-block-quote;
  @include wp-block-group;
  @include wp-block-navigation;
  @include wp-block-latest-posts__list;
  @include wp-block-gallery;
  // @include wp-block-custom-block;
}

// top level gutenberg blocks
@mixin top {
  margin-left: auto;
  margin-right: auto;
  @include top-level-wp-block;
  @include top-level-wp-block-not;
  @include top-level-wp-block-media-text;
  @include top-level-wp-block-columns;
  @include top-level-wp-block-image;
  @include top-level-wp-block-gallery;
  @include top-level-wp-block-cover;
}

@mixin small-margin( $position: "top" ) {
  margin-#{$position}: var( --content-mobile-small-block-margin );
  // margin-bottom: var( --content-mobile-small-block-margin );
  @media (min-width: 768px) { 
    margin-#{$position}: var( --content-desktop-small-block-margin );
    // margin-bottom: var( --content-desktop-small-block-margin );
  }
}

@mixin large-margin( $position: "top", $mobile-size: var( --content-mobile-block-margin ), $desktop-size: var( --content-desktop-block-margin ) ) {
  margin-#{$position}: $mobile-size;
  @media (min-width: 768px) { 
    margin-#{$position}: $desktop-size;
  }
}

// top level margins
@mixin top-level-wp-block {
  &[class^="wp-block"] { // Reset
    margin-top: 0;
    margin-bottom: 0;
  }
  &:not(.alignfull):not([data-align=full]):not(style) { // full + * - Margin top
    & + * {
      @include small-margin;
    }
  }
  &.alignfull,
  &[data-align=full],
  &:is(style) {
    & + *:not(.alignfull):not([data-align=full]) { // full + not full - Margin top
      @include small-margin;
    }
  }
}

// top level not wp-block-* margins
@mixin top-level-wp-block-not {}


@mixin wp-block-cover {
  .wp-block-cover {}
}

@mixin wp-block-image {
  .wp-block-image {
    img {
      max-width: 100%;
      display: block;
    }
  }
}

@mixin wp-block-columns {
  .wp-block-columns {}
}

@mixin wp-block-column {
  .wp-block-column {}
}

@mixin wp-block-buttons {
  .wp-block-buttons {
    .wp-block-button {
      margin: 0;
      .wp-block-button__link {
        border-radius: 0;
      }
    }
  }
}

@mixin wp-block-quote {
  .wp-block-quote {
    p {
      font-size: 2rem;
    }
  }
}

@mixin wp-block-media-text {
  .wp-block-media-text_content {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin wp-block-group {
  .wp-block-group {
    &.alignfull {
      padding-left: var(--content-margin);
      padding-right: var(--content-margin);
    }
  }
}

@mixin wp-block-navigation {
  .wp-block-navigation {}
}

@mixin wp-block-latest-posts__list {
  .wp-block-latest-posts__list {}
}

@mixin wp-block-gallery {
  .wp-block-gallery {}
}

// @mixin wp-block-wp-block-custom-block {
//   .wp-block-wp-block-custom-block {}
// }

@mixin top-level-wp-block-media-text {
  &.wp-block-media-text {}
}

@mixin top-level-wp-block-columns {
  &.wp-block-columns {}
}

@mixin top-level-wp-block-image {
  &.wp-block-image,  
  &.wei-picture-wrapper {}
}

@mixin top-level-wp-block-gallery {
  &.wp-block-gallery {}
}

@mixin top-level-wp-block-cover {
  &.wp-block-cover {}
}