@use "colors";

footer {
	padding: 10px var(--content-margin) 10px;
	
	// Navigation
	nav {
		ul {
			list-style: none;
			padding-left: 0;
		}
		& > ul {
			display: flex;
			li {
				padding-right: 10px;
			}
		}
	}
}