%trim-top-bottom-margin {
	& > * {
		&:first-child {
			margin-top: 0 !important;
		}
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}

@mixin width( $max-width ) {
	max-width: $max-width;
	width: calc(100% - (var(--content-margin) * 2));
}

@mixin alignments {
	.alignnone,
	.aligncenter,
	.alignleft,
	.alignright,
	.alignwide {
		margin-top: 4rem;
		margin-right: auto;
		margin-bottom: 4rem;
		margin-left: auto;
	}

	/* Full */
	.alignfull {
		margin-top: 4rem;
		margin-right: auto;
		margin-bottom: 4rem;
		margin-left: auto;
		max-width: 100vw;
		position: relative;
		width: 100%;
	}

	/* Wide */
	[data-align="wide"],
	.alignwide {
		@include width( var(--content-wide-width-max) );
	}

	/* Center */
	.aligncenter,
	.aligncenter img {
		margin-left: auto;
		margin-right: auto;
	}

	/* Left and right */
	.alignleft,
	.alignright {
		max-width: 50%;
	}

	.alignleft {
		float: left;
		margin: 0.3rem 2rem 2rem 0;
	}

	.alignright {
		float: right;
		margin: 0.3rem 0 2rem 2rem;
	}
	
	/* Entry Media */
	
	.alignfull > figcaption,
	.alignfull > .wp-caption-text {
		// @extend %block-widths;
		margin-left: auto;
		margin-right: auto;
	}

	[class*="__inner-container"] {
		& > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
			max-width: var(--content-width-max);
			width: 100%;
		}
		& > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright) {
			margin-left: auto;
			margin-right: auto;
		}
		& > .alignfull {
			max-width: 100%;
		}
		& > .alignwide {
			width: 100%;
		}
	}

	[data-align="wide"],
	[data-align="full"] {
		& > *:first-child {
			margin-top: 0;
		}
	}
}

@mixin color( $label, $color, $link: #414024 ) {
	:root {
		--gb-#{$label}: $color;
	}
	.has-inline-color,
	.has-text-color {
		&.is-#{$label},
		&.has-#{$label}-color {
			color: $color;
			h1, h2, h3, h4, h5, p, ol, ul, dl, dt, summary {
				color: $color;
			}
		}
	}
	.has-background-dim,
	.has-background {
		&.has-#{$label}-background-color {
			background-color: $color;
			a {
				color: $link;
			}
		}
	}	
}