// @use "colors";

// font aliasing
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Font Face - Font Families
// @font-face {
//   font-family: "Custom Font Family";
//   src: url("../fonts/custom-font-family.otf") format("opentype");
// }
// %custom-font-family-normal {
//   font-family: "Custom Font Family";
//   font-weight: normal;
// }

// Variable Font Sizes - https://codesandbox.io/s/clamp-linear-intepolation-based-on-viewport-width-builder-xgkft?from-embed
// %font-size-paragraph {
//   font-size: unquote("clamp(1.4rem, 1.2000rem + 0.5556vw, 2rem)");
// }
// %font-size-h1 {
//   font-size: unquote("clamp(2.2rem, 1.2667rem + 2.5926vw, 5rem)");
// }

@mixin type {
  font-family: sans-serif;
  font-size: var(--content-font-size); 
  line-height: 1.3em;
}

// Gutenberg Inline Sizes
@mixin gutenberg-inline-font-sizes {
  .has-small-font-size,
  &.has-small-font-size {
    font-size: calc(0.8 * var(--content-font-size)); 
  }
  .has-large-font-size,
  &.has-large-font-size {
    font-size: calc(1.2 * var(--content-font-size)); 
  }
}

// Headings
@mixin heading {
  h1, h2, h3, h4, h5, h6 {
    // @include custom-font-family-normal;
    margin: 0.65em 0;
    line-height: 1.3em;
    color: var(--gb-heading);
  }
  @include h1;
  @include h2;
  @include h3;
  @include h4;
  @include h5;
  @include h6;
}
@mixin h1 {
  h1 {
    font-size: var(--content-h1-size);
  }
}
@mixin h2 {
  h2 {
    font-size: var(--content-h2-size);
  }
}
@mixin h3 {
  h3 {
    font-size: var(--content-h3-size);
  }
}
@mixin h4 {
  h4 {
    font-size: var(--content-h4-size);
  }
}
@mixin h5 {
  h5 {
    font-size: var(--content-h5-size);
  }
}
@mixin h6 {
  h6 {
    font-size: var(--content-h6-size);
  }
}

// Paragraph
@mixin paragraph {
  @include type;
	@include gutenberg-inline-font-sizes;
  font-weight: normal;
  margin: 1.3em 0;
}

// Blockquote
@mixin blockquote {
  p {
    @include paragraph;
  }
  cite, .wp-block-pullquote__citation {
    @include paragraph;
  }  
}

// Base fonts
@mixin base {
  @include type;
  @include heading;
  p, ol, ul, dl, dt, summary {
    @include paragraph;
  }
  ol, ul, dl {
    li {
      margin-bottom: 0.5em;
    }
  }
  iframe {
    max-width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  blockquote {
    @include blockquote;
  }
  a {
    color: var(--gb-link);
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
			color: var(--gb-link-hover);
		}
  }
  // hr {}
}

// Form fields
@mixin form {
  textarea,
  input[type="button"],
  input[type="checkbox"],
  input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="radio"],
  input[type="range"],
  input[type="reset"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input[type="hidden"] {
    border-radius: 0;
    // border: 1px solid;
    // background: transparent;
    // padding: 0 15px;
    // width: 100%;
    // height: 48px;
    // color: #fff;
    // letter-spacing: 0.1em;    
    // transition: border-color 0.3s;
    // @media (min-width: 992px) { 
    //   height: 54px;
    // }
    &:focus {
      &::placeholder {
        opacity: 1;
      }
    }
    &::placeholder {
      transition: opacity 0.3s;
      opacity: 0.75;
    }
    &.wpcf7-not-valid {
      border-color: rgba(#f00f00, 0.75);
    }
  }
  textarea {
    // padding: 19px 10px;
    height: auto;
    resize: none;
  }
  input[type="submit"],
  button {
    text-transform: uppercase;
  }
}